<div class="ui small basic modal" id="confirmation-modal">
    <div class="ui icon header">
        <i class="warning sign icon"></i>
        Confirm your action
    </div>
    <div class="content">
        <p>Are you sure you want to perform this action ?</p>
    </div>
    <div class="actions">
        <div class="ui red basic cancel inverted button">
            <i class="remove icon"></i>
            No
        </div>
        <a class="ui green ok inverted button" id="confirmation-button">
            <i class="checkmark icon"></i>
            Yes
        </a>
    </div>
</div>
