{% extends 'base.html.twig' %}

{% block body %}
    <table class="ui celled table">
        <thead>
        <tr>
            <th>Title</th>
            <th>Posted At</th>
        </tr>
        </thead>
        <tbody>
        {% for article in articles %}
            <tr>
                <td>
                    <a href="{{ path('app_admin_article_view', {'id':article.id}) }}">
                        {{ article.title }}
                    </a>
                </td>
                <td>
                    {{ article.postedAt|date }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a class="ui primary button" href="{{ path('app_admin_article_create') }}">
        Create
    </a>
{% endblock %}
